

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/footer.css">

 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<footer>
   
    <div class="manage">
                <div class="github" >
                 <!-- Github Links: -->
                 <i class="fab fa-github"></i>
                 <a href="https://github.com/amanchauhan112">Aman</a> &emsp;
      
             <a href="https://github.com/Bhavyaratra">Bhavyaratra</a>        
             &emsp;
             <a href="https://github.com/luffyguy">luffyguy</a>
        </div>
    
        <div  class="copyright">     &emsp; Copyright &copy; LuffyClips 2021</div>
         
             <div  class="linkedin">
                 <!-- LinkedIn Links: -->
                 <i class="fab fa-linkedin"></i>

                 <a href="https://www.linkedin.com/in/aman-chauhan-2b51471b6/">Aman</a>   
                 &emsp;
            
             <a href="https://www.linkedin.com/in/harsh-tanwar-22761017b/">luffyguy</a> 
             &emsp;
             <a href="https://www.linkedin.com/in/bhavya-ratra-b816101a9/">Bhavyaratra</a>
         </div>
        </div>
</footer>
</body>
</html>