<!-- if signed in -->

<!-- <div class="navbar">

    <ul class="navbar-nav">
<a href="/"><img src="img/Logo/Luffyclip.png" style="display:inline; height: 40px;width:50px;"></a>
   <div>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/about">About</a></li></div>
    <div style="display: inline;"> <li class="nav-item" ><a href="login">Sign In</a></li>
        <li class="nav-item"><a href="register">Sign Up</a></li></div>

    </ul>
</div> -->
<link rel="stylesheet" href="css/nav.css">

<header class="nav_header all" >
    
    <a class="nav_a all" href="/home"><img class="img_logo all cropped" src="img/Logo/Luffyclip.png"></a>
<nav class="all" >
    <ul class="nav_links all">
        
        <li class="nav_li all"><a class="nav_a all" href="/home">Home</a></li>
        <li class="nav_li all"><a class="nav_a all" href="/games">Games</a></li>
        <li class="nav_li all"><a class="nav_a all" href="/about">About</a></li>
        <li class="nav_li all"><a class="nav_a all" href="/players">Players</a></li>
    </div>
       
            </ul>
</nav>

<ul>
        <% if(!user){ %>
        <li  class="nav_li all"><a class="nav_button cta nav_a all" href="/login">Sign In</a></li>
              
        <% }else {%>
        <li class="nav_li all"><a class="nav_button cta nav_a all logout" href="/logout">logout</a></li></div>
       <% }%>
    </ul>
</header>