<!-- If not signed in -->
<link rel="stylesheet" href="css/nav.css">

<header class="nav_header all" >
    
    <a class="nav_a all" href="#"><img class="img_logo all cropped" src="img/Logo/Luffyclip.png"></a>
<nav class="all" >
    <ul class="nav_links all">
           
        <li class="nav_li all"><a class="nav_a all" href="#">Home</a></li>
        <li class="nav_li all"><a class="nav_a all" href="#">About</a></li>
        <li class="nav_li all"><a class="nav_a all" href="#">Players</a></li>
    </div>
       
            </ul>
</nav>

<ul>
<li  class="nav_li all"><a class="nav_button cta nav_a all" href="login">Sign In</a></li>
<li class="nav_li all"><a class="nav_button cta nav_a all" href="register">Sign Up</a></li></div>
</ul>
</header>