<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/sidebar.css">

<div class="sidebar">
    <a class="nav_a all" href="/"><img class="img_logo all cropped" src="img/Logo/Luffyclip.png"></a>

    <a href="/" style="color: aliceblue;"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/about" style="color: aliceblue;"><i class="fa fa-fw fa-wrench"></i> About</a>
    <a href="/login" style="color: aliceblue;" class="nav_button cta nav_a all" href="login"><i class="fa fa-fw fa-user"></i> Sign In</a>
    <a href="/register" style="color: aliceblue;" class="nav_button cta nav_a all" href="register"><i class="fa fa-fw fa-envelope"></i> Sign Up</a>


    <!-- <nav class="all" >
        <ul class="nav_links all">
               
            <li class="nav_li all"><a class="nav_a all" href="/">Home</a></li>
            <li class="nav_li all"><a class="nav_a all" href="/about">About</a></li></div>
           
                </ul>
    </nav> -->
       
  </div>