
.contact-form {
    padding: 55px 65px;
    background: orangered;
    min-height: 600px;
    margin-top: 60px;
}

.contact-form form input {
    width: 100%;
    background: #fff;
    border: none;
    height: 60px;
    padding: 0 20px;
    text-transform: uppercase;
    margin: 15px 0;
}

.contact-form form textarea {
    width: 100%;
    background: #fff;
    border: none;
    min-height: 120px;
    padding: 15px 20px;
    text-transform: uppercase;
    margin: 15px 0;
}

.contact-form form input[type="submit"] {
    background: #fa3e19;
    color: #fff;
    width: 190px;
    margin: 15px auto 0;
    font-size: 19px;
    font-weight: 300;
    float: none;
    display: flex;
    cursor: pointer;
}

.contact-form form input[type="submit"]:hover,
.contact-form form input[type="submit"]:focus {
    background: #111;
    color: #fff;
    transition: ease all 0.5s;
}

.navbar {
    
    height: 50px;
    width: 100%;
    background: black;
    color: white;
}

.navbar-nav{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: space-evenly;
    height: 100%
}

a{
    color: currentColor;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
