<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThemeChanger</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/background.css">


</head>
<body class="light">
  
<!-- navbar -->
  <%- include('./partials/nav1.ejs') %>

    <div class ="notfound">
        <h1>404 Error</h1>
        <p>
            Page Not Found
          </p>
    </div> 


    <%- include('./partials/footer.ejs') %>

  </body>
</html>