<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuffyClips</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/nav.css">

    <link rel="stylesheet" href="css/about.css">
</head>    
<body>
<%- include('./partials/nav1.ejs')%>
<div style="margin: 10%;margin-top:5%;">

<h2 style="text-align: center; color:aqua">About us</h2>
<p style="color: cyan;">Luffyclip is a free browser game website.It was started in 2021 by Bhavya Ratra , Harsh Tanwar and Aman Chauhan on a budget of Rs.100 and quickly grew.
    </p>
    <h1 style="color: yellowgreen;">Mobile games:</h1>
   <p style="color:rgb(109, 204, 31)"> Luffyclip has many online games that are available for every Browser such as Tic-Tac-Toe , Memory Game,Stone Paper Scissor and many more. </p>
</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>
