<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuffyClips</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" href="css/sidebar.css">

</head>    
<body>

<a href="/" class="sidebar_a" ><i class="fa fa-home sidebar_a" style="font-size: 50px;color:aqua;"></i></a>
<%- include('./partials/nav1.ejs')%>
<!-- <div style="margin: 10%;margin-top:5%;">

<h2 style="text-align: center; color:aqua">About us</h2>
<p style="color: cyan;">Luffyclip is a free browser game website.It was started in 2021 by Bhavya Ratra , Harsh Tanwar and Aman Chauhan on a budget of Rs.100 and quickly grew.
    </p>
    <h1 style="color: yellowgreen;">Mobile games:</h1>
   <p style="color:rgb(109, 204, 31)"> Luffyclip has many online games that are available for every Browser such as Tic-Tac-Toe , Memory Game,Stone Paper Scissor and many more. </p>
</div> -->

<div class= "luff" style="margin: 10%;margin-top:5%;">

  <h1 style="color: rgb(174, 157, 236); font-size: 45px"> About us </h1>
  <p style="color:white; font-size: 25px">Luffyclip is a free browser game website. It was started in 2021 by Bhavya Ratra, Harsh Tanwar and Aman Chauhan on a budget of Rs.1000 and quickly grew.
      </p>
      <h1 style="color: rgb(174, 157, 236); font-size: 40px">Mobile games:</h1>
     <p style="color:white; font-size: 25px;"> Luffyclip has many online games that are available for every Browser such as Space Shooting Game, Memory Game, Stone Paper Scissor and many more to come. </p>
  
     <br>
     <br>
     
     <h1 style="color: rgb(174, 157, 236); font-size: 40px">Devlopers:</h1>
      <h3 class="dev_name">Harsh Tanwar</h3>  
      <h3 class="dev_name" >Aman Chauhan</h3>  
      <h3 class="dev_name" >Bhavya Ratra</h3>  

      <br>
    
    
<%- include('./partials/footer.ejs') %>

</body>
</html>
