<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuffyClips</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/background.css">


</head>    
<body>

<%- include('./partials/nav1.ejs') %>
<%- include('./partials/sidebar.ejs') %>

<center>
<div class="welcome-area" id="welcome" >
  <div class="header-text" >

        
                 <h1 style="color:white;" >&lt; LuffyClip&gt;</h1>
             
             
             
                 <h1 style="color:aqua">We provide the best <strong>online games</strong><br>to enjoy your day.</h1>
   <p style="color:white;width:300px;margin:auto;margin-bottom:4%;">Just begin the never ending journey:</p>
  

                  <a href="/games" class="main-button" style="text-decoration:none;color:white;">Play now</a>
               
  </div>
  <!-- ***** Header Text End ***** -->
</div>

</center>


<%- include('./partials/footer.ejs') %>
</body>




</html>