<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuffyClips</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/background.css">


</head>    
<body>

<%- include('./partials/nav1.ejs') %>
<%- include('./partials/sidebar.ejs') %>

<a  href='/StonePaperScissor'><img src="img/home/sps_logo.PNG" class="image_home"/></a>
<a href='/MemoryGame'><img src="img/home/mg_logo.PNG" class="image_home" /></a>
<a href='/Shooter'><img src="img/home/Shooter.PNG" class="image_home" /></a>
<a href='/TicTacToe'><img src="img/home/Shooter.PNG" class="image_home" /></a>

<%- include('./partials/footer.ejs') %>

</body>




</html>
