<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="navbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a href="/">Home</a></li>
			<li class="nav-item"><a href="about">About</a></li>
			<li class="nav-item"><a href="login">Login</a></li>
		</ul>
	</div>
<div class="login-container">  
    <h1>login</h1> 
    
    <form action="/login" method="POST"> 
        <input type="text" name="username"
            placeholder="username"> 
        <input type="password" name="password" 
            placeholder="password"> 
        <button>login</button> 
    </form> 
    s
    <li><a href="/register">Sign up!!</a></li> 
    <li><a href="/login">Login</a></li> 
    <li><a href="/logout">Logout</a></li> 
</div>  