<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css">

    <link rel="stylesheet" href="css/nav.css">

</head>
<body>
<%- include('./partials/nav1.ejs') %>
<div style="margin: 10px;">  
  
    
    <form action="/login" method="POST"> 
       <p class="form-detail"> Username:</p>
            <input  type="text" name="username" placeholder="username" required="true"> 
        <p class="form-detail">Password:</p>
            <input  type="password" name="password" placeholder="password" required="true"> <br>
        
        <button type="submit">Sign In!</button> 
      
     
    </form> 

    <small class="text-muted ml-2 form-detail">
        Forgot Password :
                    </small><br>
        <small class="text-muted form-detail">
            Need an account? <a class="ml-2" href="register">Sign Up</a>
        </small>

  
</div>  

<%- include('./partials/footer.ejs') %>
