<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <!-- <link rel="stylesheet" href="css/background.css"> -->
    <link rel="stylesheet" href="css/footer.css">

<style>
    .github
    {
        color:darkorange;
    }
    .linkedin{
        color: aqua;
    }

</style>
</head>


<body>
<a href="/" class="sidebar_a"><i class="fa fa-home" style="font-size: 50px;color:aqua;"></i></a>

<%- include('./partials/nav1.ejs') %>



<div id="container-login">
    <div id="title">
        <i class="material-icons lock">lock</i> Login
    </div>

    <form action="/login" method="POST">
        <div class="input">
            <div class="input-addon">
                <i class="material-icons">face</i>
            </div>
            <input id="username" placeholder="Email" type="text" name ="email" required class="validate" autocomplete="on">
        </div>

        <div class="clearfix"></div>

        <div class="input">
            <div class="input-addon">
                <i class="material-icons">vpn_key</i>
            </div>
            <input id="password" placeholder="Password" type="password" name="password" required class="validate" autocomplete="off">
        </div>

        <div class="remember-me">
            <input type="checkbox">
            <span style="color: #DDD">Remember Me</span>
        </div>

        <input type="submit" name="signin_submit" value="Log In" />
    </form>

    <div class="forgot-password">
        <a href="#">Forgot your password?</a>
    </div>
    <div class="privacy">
        <a href="#">Privacy Policy</a>
    </div>

    <div class="register">
        Don't have an account yet?
        <a href="/register"><button id="register-link">Register here</button></a>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
