<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="navbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a href="/"  class="nav_a">Home</a></li>
			<li class="nav-item"><a href="about"  class="nav_a">About</a></li>
			<li class="nav-item"><a href="login"  class="nav_a">Login</a></li>
		</ul>
	</div>
    <h1>Logged out!</h1>

        <div class="border-top pt-3">
            <small class="text-muted">
               Do you want to login again? <a href="login">Login</a>
            </small>
        </div>
    
  
</div>  