<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Luff - Memory_Game</title>
  </head>
  <link rel="stylesheet" href="css/MemoryGame.css" />
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/sidebar.css">

 

  <body>

    <!-- navbar -->
    <%- include('./partials/nav1.ejs') %>
      <header>

    <h1>

    <a href="/" class="sidebar_a"><i class="fa fa-home" style="float:left;font-size: 50px;color:aqua;"></i></a>

    <h1>Memory Game</h1></h1>
      </header>
   
      <div class="score_board">
        <span id="score"> Score <br></span>
        <span id="your_score"> 0 </span>
      </div>

      <div class="output">
        <span id="output">So Lets Begin.</span>
      </div>

    <div class="grid">
    </div>

    <script src="js/MemoryGame.js"></script>
 

<%- include('./partials/footer.ejs') %>

  </body>
</html>
