<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuffyClips</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
   

    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" href="css/players.css">


</head>    

<%- include('./partials/nav1.ejs') %>
<%- include('./partials/sidebar.ejs') %>
<body>
  <div class="players">
    <h2>All PLAYERS</h2>
    <div id="user-box">
      <ul type="1">
  
    <% if (players.length > 0) { %>
      <% players.forEach(user => { %>
        
          <li class="name"><%= user.username %></li>
          <p class="email"><%= user.email %></p>
        <hr>
      <% }) %>
    <% } else { %>
      <p>There are no players to display...</p>
    <% } %>
      </ul>
   </div>
  </div>
</body>
</html>