<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/sidebar.css">


</head>
<body>
<a href="/" class="sidebar_a"><i class="fa fa-home" style="font-size: 50px;color:aqua;"></i></a>

	<%- include('./partials/nav1.ejs') %>
	</div>
<div class="login-container" style="margin: 10px; ">  
  <h1 style="color:violet;font-family:'Times New Roman', Times, serif">Register Here : </h1>
    
    <form action="/register" method="POST"> 

        <p class="form-detail">First Name:<span style="color: rgb(255, 0, 0);">*</span></p>
            <input  type="text" name="first " placeholder="first name" required="true"> <br>
            <br>
        <p class="form-detail">Last Name:</p>
            <input  type="text" name="last" placeholder="last name">
            <br>
        <p class="form-detail"> Email:<span style="color: rgb(255, 0, 0);">*</span></p>
            <input  type="email" name="email" placeholder="email" required="true"> <br>
            <br>
        <p class="form-detail">Password:<span style="color: rgb(255, 0, 0);">*</span></p>
            <input  type="password" name="password" placeholder="password" required="true"> <br>
            <br>
        <p class="form-detail">Confirm Password:<span style="color: rgb(255, 0, 0);">*</span></p>
            <input  type="password" name="password" placeholder="confirm password" required="true"> <br>
            <br>
        <button type="submit" >Sign Up!</button> 
      
     
    </form> 

  Already have an account: <a href="login">Sign in.</a> 
</div>  

<%- include('./partials/footer.ejs') %>
