<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Luff - Stone_Paper_Scissors</title>
  
  </head>
  <link rel="stylesheet" href="css/StonePaperScissor.css" />
  <link rel="stylesheet" href="css/nav.css">
  
  <body>
<!-- navbar -->
    <%- include('./partials/nav1.ejs') %> 

    <header>
      <h1 class="small_screen">Stone Paper Scissor</h1>
    </header>

    <div class="score_board">
      <div id="user_label" class="badge">User</div>
      <div id="computer_label" class="badge">Comp</div>
      <span id="user_score"> 0 </span> : <span id="computer_score"> 0 </span>
    </div>

    <div class="computer_choice">
      <p class="small_screen">
        Click on your <br />
        Choice
      </p>
    </div>

    <div class="choices">
      <div class="choice" id="stone">
        <img src="img/StonePaperScissor/stone_final.png"  alt="" />
      </div>
      <div class="choice" id="paper">
        <img src="img/StonePaperScissor/paper_final.png" width="250" alt="" />
      </div>
      <div class="choice img" id="scissor">
        <img src="img/StonePaperScissor/sciccors_final.png" width="250" alt="" />
      </div>
    </div>

    <div class="result small_screen">
      <p>So Lets Begin.</p>
    </div>

    <script src="js/StonePaperScissor.js"></script>
  

    <%- include('./partials/footer.ejs') %>
  
  </body>
</html>
