<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Luff - Tic_Tac_Toe</title>
    <link rel="stylesheet" href="css/TicTacToe.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include('./partials/nav1.ejs') %> 
    <header>
      <h1>Tic- Tac- Toe</h1>
    </header>

    <div class="score_board">
      <div id="x_label" class="badge">X</div>
      <div id="o_label" class="badge">O</div>
      <span id="x_score"> 0 </span> : <span id="o_score"> 0 </span>
    </div>

    <div id="player" align="center">
      <span id="turn" align="">Player X's turn</span>
    </div>

    <div class="container">
      <div id="tictactoe"></div>
    </div>

    <div class="result">
      <p>So Lets Begin.</p>
    </div>

    <script src="js/TicTacToe.js"></script>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
