
  .nav_a{
    color: currentColor;
    text-decoration: none;
    

}

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;


  }

    
  input::-webkit-input-placeholder { color: #adadad;}
  input:-moz-placeholder { color: #adadad;}
  input::-moz-placeholder { color: #adadad;}
  input:-ms-input-placeholder { color: #adadad;}

  

  button {
      margin-top: 20px;
      margin-bottom: 10px;
      background: linear-gradient(236deg, #e403a0, #5f03d6);
     
    
  }
  
  button:hover {
      cursor: pointer;
  }

  .form-detail{
    color: wheat;
    
  }